<div class="row">
    <div class="col-sm-4 offset-md-4">
        <div class="card card-body">
            <form class="form-horizontal" (ngSubmit)="edit?updateProduct():createProduct()">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Form Name</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="textinput">Name</label>
                        <div class="col-md-12">
                            <input id="name" name="name" type="text" placeholder="Product name"
                                class="form-control input-md" [(ngModel)]="product.name" autofocus>
                        </div>
                    </div>
                    <br>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="name">Category</label>
                        <div class="col-md-12">
                            <input id="category" name="category" type="text" placeholder="category"
                                class="form-control input-md" [(ngModel)]="product.category" autofocus>
                        </div>
                    </div>
                    <br>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="textinput">Unit Price</label>
                        <div class="col-md-12">
                            <input id="unitPrice" name="unitPrice" type="text" placeholder="Unit price"
                                class="form-control input-md" [(ngModel)]="product.unitPrice" autofocus>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="textinput">Quantity</label>
                        <div class="col-md-12">
                            <input id="quantity" name="quantity" type="text" placeholder="Quantity"
                                class="form-control input-md" [(ngModel)]="product.quantity" autofocus>
                        </div>
                    </div>
                    <br>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="textinput">Photo</label>
                        <div class="col-md-12">
                            <input id="photo" name="photo" type="text" placeholder="Product photo"
                                class="form-control input-md" [(ngModel)]="product.photoURL" autofocus>
                        </div>
                    </div>
                    <br>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <div class="col-md-8">
                            <button id="button1id" name="button1id" class="btn btn-success">Save</button>
                        </div>
                    </div>
                    <br>

                </fieldset>
            </form>

        </div>

    </div>

</div>